@import "_foundation.scss";
//Floating Items 
.card {
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    border: none;
}

.xPosition:nth-of-type(1) {
    z-index: 0;
    margin-left: -13%;
}

.xPosition:nth-of-type(2) {
    z-index: 2;
}

.xPosition:nth-of-type(3) {
    z-index: 1;
    margin-left: 13%;
}

.cardPrimary {
    .cardHeader {
        background-color: $primaryColor;
        color: white;
        font-family: $subFont;
    }
    .cardTitle {
        font-family: $subFont;
        padding: 1rem;
        font-weight: 700;
    }
    .cardBody {
        background-color: rgba(37, 85, 116, 0.9);
        color: white;
        padding: 3%;
    }
}

.cardTertiary {
    .cardHeader {
        background-color: $tertiaryColor;
        color: white;
        font-family: $subFont;
    }
    .cardTitle {
        font-family: $subFont;
        padding: 1rem;
        font-weight: 700;
    }
    .cardBody {
        background-color: rgba(90, 36, 49, 0.77);
        color: white;
    }
}

.cardQuinary {
    .cardHeader {
        background-color: #4b385f;
        color: white;
        font-family: $subFont;
    }
    .cardTitle {
        font-family: $subFont;
        padding: 1rem;
        font-weight: 700;
    }
    .cardBody {
        background-color: rgba(78, 60, 96, 0.8);
        color: white;
    }
}

.cardTitle {
    font-size: 2rem;
}

#floatingDivs {
    position: relative;
    height: 100%;
    @include center;
}

#floatContainer {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -50vh;
}

//div styles
#mission {
    @include center;
}

#footer {
    opacity: 0.4;
    padding-bottom: 1%;
    bottom: 0;
    width: 100%;
}

#heroText {
    position: relative;
    bottom: 0;
}

//text styles
.h2 {
    font-size: calc(3rem + 2vw);
    font-family: $subFont;
    font-weight: 100;
}

.p {
    font-family: $subFont;
    font-size: calc(1rem + 0.5vw);
    margin-bottom: 1rem;
}

#beta {
    color: #6B7225;
    font-weight: 100;
}

.a {
    color: #6B7225;
}

.gradient {
    background-image: linear-gradient(to right top, #164869, #3f4b7a, #6a497e, #924474, #ae445d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

//Media Queries
@media (max-width: 1000px) {
    #floatingDivs {
        display: none;
    }
    #future {
        font-size: 10vw;
        margin-top: 20vw;
    }
    #mission {
        text-align: center;
    }
    #footer {
        margin-top: 5%;
    }
    #logo {
        width: 60vw;
        transform: translateX(20vw);
    }
}

@media (max-width: 1400px) {
    #floatContainer {
        transform: translateY(-10vh);
    }
}