@import "_foundation.scss";
#backgroundContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
    background-image: url("/imgs/lightpic.png");
    background-size: cover;
}

#loginFormContainer {
    @include center;
    height: 100vh;
    width: 100vw;
}

#containerRow {
    padding: 3%;
    background-image: linear-gradient(to right bottom, #164869, #3f4b7a, #6a497e, #924474, #ae445d);
    border-radius: 10px;
}

.loginInput {
    font-family: $subFont;
    padding: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
    color: white;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.loginInput:hover {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.loginInput:focus {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

#submit {
    width: 100%;
    font-family: $subFont;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 15%;
    padding: 5%;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s ease-in-out;
    border-radius: 7px;
}

#submit:hover {
    color: $primaryColor;
    background-color: white;
}